<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SnlAdmin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "snl_admin/application", :media => "all" %>
  <%= javascript_include_tag "snl_admin/application" %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'top_menu' %>

  <div class="container">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? 'success' : 'warning' %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>

  </div>

</body>
</html>
