<!DOCTYPE html>
<html>
<head>
  <title>SnlAdmin</title>
  <%= stylesheet_link_tag    "snl_admin/application", :media => "all" %>
  <%= javascript_include_tag "snl_admin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'top_menu' %>

  <div class="container">
    <% flash.each do |name, msg| %>
      <div class="alert alert-#{name == :notice ? 'success' : 'error'}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>

  </div>

</body>
</html>
