<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'SNL Admin', '#', class: 'brand' %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><%= link_to t(:home), main_app.root_url %></li>
          <%= nav_link :dashboard, path: snl_admin.dashboard_path, name: t(:dashboard) %>
          <%= nav_link :users, name: t(:users) %>
          <%= nav_link :redirections, name: t(:redirections) %>
          <%= nav_link :taxonomies, name: t(:taxonomies) %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
