<h1><%= t(:dashboard) %></h1>

<div class="page-header">
  <h2>Top 5 performers <small>characters changed</small></h2>
</div>

<ol>
<%- @performers.each do |user| -%>
  <li>
    <%= link_to user.full_name, user %>
    <span class="badge badge-info">
      <%= user.num_characters_changed %>
    </span>
  </li>
<%- end -%>
</ol>

<div class="page-header">
  <h2>Top 5 earners <small>characters changed</small></h2>
</div>

<ol>
<%- @earners.each do |user| -%>
  <li>
    <%= link_to user.full_name, user %>
    <span class="badge badge-info">
      <%= SnlAdmin::UserPresenter.new(user).pay %>
    </span>
  </li>
<%- end -%>
</ol>

<div class="page-header">
  <h2>Articles <small>by state</small></h2>
</div>

<%= pie_chart({
  t(:published)  => Article.published.count,
  t(:authorized) => Article.authorized.count,
  t(:draft)      => Article.drafts.count
}) %>

