<%= form_for(@user, html: { class: 'form-horizontal' }) do |f| %>
  <legend><%= @title %></legend>
  <fieldset>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= t('errors.template.body') %></h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class='control-group'>
      <div class='controls'>
        <%= f.text_field :firstname,
                          placeholder: SnlAdmin.user_class.human_attribute_name(:firstname) %>
      </div>
    </div>

    <div class='control-group'>
      <div class='controls'>
        <%= f.text_field :lastname,
                          placeholder: SnlAdmin.user_class.human_attribute_name(:lastname) %>
      </div>
    </div>

    <div class='control-group'>
      <div class='controls'>
        <%= f.text_field :email_address,
                         placeholder: SnlAdmin.user_class.human_attribute_name(:email_address) %>
      </div>
    </div>

    <div class='control-group'>
      <div class='controls'>
        <%= f.password_field :password,
                             placeholder: SnlAdmin.user_class.human_attribute_name(:password) %>
      </div>
    </div>

    <div class='control-group'>
      <%= f.label :role,
                  SnlAdmin.user_class.human_attribute_name(:role),
                  class: 'control-label' %>
      <div class='controls'>
        <%= f.collection_select :role, SnlAdmin.user_class::ROLES,
                                :to_s, :humanize %>
      </div>
    </div>

    <div class='control-group'>
      <div class='controls'>
        <%= f.text_field :mobilenumber,
                         placeholder: SnlAdmin.user_class.human_attribute_name(:mobilenumber) %>
      </div>
    </div>

    <div class='control-group'>
      <%= f.label :institution,
                  License.model_name.human,
                  class: 'control-label' %>
      <div class='controls'>
        <%= f.collection_select :license_id,
                                License.all, :id, :name %>
      </div>
    </div>

    <div class='control-group'>
      <%= f.label :email_notifications, class: 'checkbox control-label' do %>
          <div class='controls'><%= f.check_box :email_notifications %> <%= SnlAdmin.user_class.human_attribute_name(:email_notifications) %></div>
        <% end %>
    </div>

    <div class='control-group'>
      <%= f.label :fixed_ceiling,
                  SnlAdmin.user_class.human_attribute_name(:fixed_ceiling),
                  class: 'control-label' %>
      <div class='controls'>
        <%= f.text_field :fixed_ceiling,
                         placeholder: SnlAdmin.user_class.human_attribute_name(:fixed_ceiling) %>
      </div>
    </div>

    <div class='control-group'>
      <%= f.label :paid_to_date,
                  SnlAdmin.user_class.human_attribute_name(:paid_to_date),
                  class: 'control-label' %>
      <div class='controls'>
        <%= f.text_field :paid_to_date,
                         placeholder: SnlAdmin.user_class.human_attribute_name(:paid_to_date) %>
      </div>
    </div>

    <div class='control-group'>
      <%= f.label :activated, class: 'checkbox control-label' do %>
        <div class='controls'>
          <%= f.check_box :activated %> <%= SnlAdmin.user_class.human_attribute_name(:activated) %>
        </div>
      <% end %>
    </div>

    <div class='control-group'>
      <%= label_tag :confirmed, class: 'checkbox control-label' do %>
        <div class='controls'>
          <%= check_box_tag :confirmed, 'yes', @user.confirmed? %> <%= t('confirmed') %>
        </div>
      <% end %>
    </div>

    <div class='control-group'>
      <div class='controls'>
        <%= f.text_field :postal_address,
                         placeholder: SnlAdmin.user_class.human_attribute_name(:postal_address) %>
      </div>
    </div>

    <div class='control-group'>
      <%= f.label :institution,
                  SnlAdmin.user_class.human_attribute_name(:institution),
                  class: 'control-label' %>
      <div class='controls'>
        <%= f.collection_select :institution, SNL::INSTITUTIONS,
                                :to_s, :humanize,
                                include_blank: true %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit t('save'), class: 'btn btn-primary' %>
      <%= link_to t('cancel'), users_path, class: 'btn' %>
    </div>

  </fieldset>
<%- end -%>
