<h1><%= t('users') %></h1>


<div class='row'>
  <div class='span2'>
    <%= link_to t('new_user'), new_user_path, class: 'btn btn-primary' %>
  </div>
  <div class='span7'>
    <%= paginate @users, theme: 'twitter-bootstrap' %>
  </div>
  <div class='span3'>
    <%= form_tag users_path, method: :get, class: 'form-search' do %>
      <div class="input-append">
        <%= search_field_tag 'query', nil, placeholder: 'Brukernavn', class: "span2 search-query"%>
        <%= button_tag 'Søk', class: "btn"%>
      </div>
    <%- end -%>
  </div>
</div>

<%- unless @users.blank? -%>

<table class="table table-striped table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:firstname) %></th>
      <th><%= User.human_attribute_name(:lastname) %></th>
      <th><%= User.human_attribute_name(:username) %></th>
      <th><%= User.human_attribute_name(:public_name) %></th>
      <th><%= User.human_attribute_name(:role) %></th>
      <th><%= User.human_attribute_name(:activated) %></th>
      <th><%= t(:confirmed) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <%- @users.each do |user| -%>
    <tr>
      <td><%= user.firstname %></td>
      <td><%= user.lastname %></td>
      <td><%= user.username %></td>
      <td><%= user.public_name %></td>
      <td><%= t(user.role).humanize %></td>
      <td><%= user.activated? ? t('yay') : t('nope') %></td>
      <td><%= user.confirmed? ? t('yay') : t('nope') %></td>
      <td><%= link_to t('show'), user,
              class: 'btn btn-mini btn-info' %></td>
      <td><%= link_to t('edit'), edit_user_path(user),
              class: 'btn btn-mini btn-warning' %></td>
      <td><%= link_to t('delete'), user,
              method: :delete,
              data: { confirm: t('are_you_sure') },
              class: 'btn btn-mini btn-danger' %></td>
    </tr>
  <%- end -%>
  </tbody>
</table>

<%- end -%>

