<h1><%= t('redirections') %></h1>

<table class="table table-striped table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th><%= Redirection.human_attribute_name(:urlpath) %></th>
      <th><%= Redirection.human_attribute_name(:headword) %></th>
      <th><%= Redirection.human_attribute_name(:clarification) %></th>
      <th><%= Redirection.human_attribute_name(:article_id) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <%- @redirections.each do |redirection| -%>
    <tr>
      <td><%= redirection.urlpath %></td>
      <td><%= redirection.headword %></td>
      <td><%= redirection.clarification %></td>
      <td><%= redirection.article_id %></td>
      <td><%= link_to t(:show), redirection,
              class: 'btn btn-mini btn-info' %></td>
      <td><%= link_to t(:edit), edit_redirection_path(redirection),
              class: 'btn btn-mini btn-warning' %></td>
      <td><%= link_to(t(:delete), redirection,
              method: :delete,
              data: { confirm: t(:are_you_sure) },
              class: "btn btn-mini btn-danger") %></td>
    </tr>
  <%- end -%>
  </tbody>
</table>

<div class='span12'>
  <%= paginate @redirections, theme: 'twitter-bootstrap' %>
</div>
